@import "../sharedStyle.module";

.wrapper {
  position: relative;


  .openLayerMapContainer {
    height: 100vh;
  }



  .activeLine {
    @include clearButton;
  }

  .testButton {
    @include clearButton;
    top : 200px
  }

}

